@{
    ViewData["Title"] = "Home Page";
}


<div>
    <dl>
        <dt>Home</dt>
        <dd>Page d'accueil</dd>

        <dt>Queue</dt>
        <dd>Ecrit un message dans une Azure Queue</dd>

        <dt>Appel interne</dt>
        <dd>Appel d'une API portée par le site</dd>

        <dt>Web Api + AI</dt>
        <dd>Appel d'une API externe au site surveillée par AI</dd>

        <dt>Web API</dt>
        <dd>Appel d'une API externe au site NON surveillée par AI</dd>

        <dt>Erreur</dt>
        <dd>Retourne un 404</dd>
    </dl>
</div>
<br />
<a href="https://amethyste16.wordpress.com/2019/03/24/decouverte-dapplication-insights-partie-i/">Article complet</a>